<!DOCTYPE html>
<html lang="en" th:replace = "~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
	
    <title>About Page</title>
</head>
<body>
	
	<div id="content">
		
		<h1>About Page</h1>
			<h1>Welcome to About Page</h1>
			
			<p>lorem20
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, recusandae. Dignissimos, porro ipsam hic ad enim voluptatum. Ea, aliquam quod!</p>

			</p>
	</div>
	
	<script>
		     console.log("about page");
	  </script>
    
</body>
</html>