<!DOCTYPE html>
<html lang="en" th:replace = "~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
	
    <title>Contact Page</title>
</head>
<body>
	
	<div id="content">
		
		<h1>Contact Page</h1>
			<h1>Welcome to Contact Page</h1>
			
			<p>lorem20
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, recusandae. Dignissimos, porro ipsam hic ad enim voluptatum. Ea, aliquam quod!</p>

			</p>
	</div>
	
	<script>
	     console.log("contact page");
	   </script>
	   <script>
	     console.log("second contact page script");
	   </script>
    
</body>
</html>